body {
	background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    border-width: 10px;
    border-color: #0096FF;
}
.topnav {
	background-color: #00557A;
    overflow: hidden;
}
.topnav a:hover {
    background-color: white;
    color: black;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 27px;
    background-color: #00557A;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.floatRight{
    float:right;margin-left:80px
}
