.Upload {
    left: 45%;
    top: 25%;
    height: 15%;
    width: 15%;
    background: radial-gradient(circle, rgb(69, 73, 72) 0%, rgb(223, 223, 223) 100%);
    background-position: center;
    display: grid;
    position: absolute;
    border-radius: 30px;
    padding: 1em;
    margin-bottom: 1em;
}
.CSV_View {
    left: 45%;
    top: 35%;
    height: 15%;
    width: 15%;
    background: radial-gradient(circle, rgb(69, 73, 72) 0%, rgb(223, 223, 223) 100%);
    background-position: center;
    display: grid;
    position: absolute;
    border-radius: 30px;
    padding: 1em;
    margin-bottom: 1em;
}
