{% extends "base.html" %}

{% block title %}Graph{% endblock %}

{% block content %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
    <style>
        .section_box {
            width: fit-content;
            background-color: white;
            border-radius: 25px;
            padding: 10px;
            margin: auto;
        }

        .heading {
            width: fit-content;
            color: #eeeeee;
            background-color: #00557A;
            border-radius: 25px;
            padding: 10px;
            margin: auto;
        }
    </style>


    {# HEADINGS #}
    <div class="heading" style="margin-top: 15px">
        <h1 style="font-size: xxx-large;">Graph Visualization</h1>
    </div>
    <div class="heading" style="margin-top: 20px; margin-bottom: 10px">
        <h2 style="font-size: medium; font-weight: bold;">Output of trained neural network</h2>
    </div>


    {# GRAPH SECTION #}
    <div class="section_box">
        <div>
            <h3 id="chart_heading" style="
                font-size: large;
                text-align: center;
                color: #00557A
            ">

            </h3>
        </div>

        <div class="graph">
            <canvas id="chart" width="1000px" height="400px"></canvas>
            <script>
                let ctx = document.getElementById("chart").getContext("2d");

                let gradientStroke = ctx.createLinearGradient(0, 500, 0, 0);
                gradientStroke.addColorStop(1, 'green');
                gradientStroke.addColorStop(0, '#f49080');

                let myChart = new Chart(ctx, {type: 'bar'});
                myChart = new Chart(ctx, getConfig());

                function getConfig() {
                    let scores = {{ scores | safe }};
                    let x = "";
                    let y = "";

                    if (document.getElementById("feature_output_form") != null) {
                        x = document.getElementById("x_list").value;
                        y = document.getElementById("y_list").value;
                    } else {
                        let key = Object.keys(scores[0])[0];
                        x = key.split("&")[0]
                        y = key.split("&")[1]
                    }

                    document.getElementById("chart_heading").innerHTML = "Testing: " + y.split(":")[1];

                    let checkBox = document.getElementById("myCheck");
                    let color;

                    if (checkBox != null) {
                        if (checkBox.checked === true) {
                            gradientStroke = ctx.createLinearGradient(0, 500, 0, 0);
                            gradientStroke.addColorStop(1, 'green');
                            gradientStroke.addColorStop(0, '#f49080');
                            color = gradientStroke;
                        } else {
                            color = "#80b6f4";
                        }
                    } else {
                        color = "#80b6f4";
                    }

                    let type = getType(x)
                    let labels = getLabels(x, y);
                    let values = getValues(x, y);
                    let config = {};

                    if (type === 1) {
                        config = {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    borderColor: color,
                                    pointBorderColor: color,
                                    pointBackgroundColor: color,
                                    pointHoverBackgroundColor: color,
                                    pointHoverBorderColor: color,
                                    fill: false,
                                    borderWidth: 4,
                                    data: values,
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                responsive: false,
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            padding: 5,
                                            fontSize: 18
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            padding: 5,
                                            fontSize: 18
                                        }
                                    }]
                                }
                            }
                        }
                    }
                    if (type === 0) {
                        config = {
                            type: "line",
                            data: {
                                labels: labels,
                                datasets: [{
                                    borderColor: color,
                                    pointBorderColor: color,
                                    pointBackgroundColor: color,
                                    pointHoverBackgroundColor: color,
                                    pointHoverBorderColor: color,
                                    pointBorderWidth: 10,
                                    pointHoverRadius: 10,
                                    pointHoverBorderWidth: 1,
                                    pointRadius: 3,
                                    fill: false,
                                    borderWidth: 4,
                                    data: values,
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                responsive: false,
                                scales: {
                                    xAxes: [{
                                        gridLines: {
                                            drawTicks: false,
                                            display: false
                                        },
                                        ticks: {
                                            padding: 5,
                                            fontSize: 18
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            padding: 5,
                                            fontSize: 18
                                        }
                                    }]
                                }
                            }
                        }
                    }

                    return config;
                }

                function getValues(x, y) {
                    let scores = {{ scores | safe }};
                    let arr

                    Object.keys(scores).forEach(k => {
                        let dict = scores[k];
                        Object.keys(dict).forEach(key => {
                            let temp = key.split("&");
                            if (temp[0] === x && temp[1] === y) {
                                arr = dict[key][0];
                            }
                        });
                    });

                    return arr;
                }

                function getLabels(x, y) {
                    let scores = {{ scores | safe }};
                    let arr;

                    Object.keys(scores).forEach(k => {
                        let dict = scores[k];
                        Object.keys(dict).forEach(key => {
                            let temp = key.split("&");
                            if (temp[0] === x && temp[1] === y) {
                                arr = dict[key][1];
                            }
                        });
                    });

                    return arr;
                }

                function getType(x) {
                    if (x[0] === "C") {
                        return 0;
                    }
                    if (x[0] === "D") {
                        return 1;
                    }
                    return -1;
                }

                function setConfig() {
                    myChart.config = getConfig();
                    myChart.update();
                }

                function setGradient() {
                    let checkBox = document.getElementById("myCheck");
                    let x = myChart.config.data.datasets[0];

                    if (checkBox.checked === true) {
                        gradientStroke = ctx.createLinearGradient(0, 500, 0, 0);
                        gradientStroke.addColorStop(1, 'green');
                        gradientStroke.addColorStop(0, '#f49080');
                        x.borderColor = gradientStroke;
                        x.pointBorderColor = gradientStroke;
                        x.pointBackgroundColor = gradientStroke;
                        x.pointHoverBackgroundColor = gradientStroke;
                        x.pointHoverBorderColor = gradientStroke;
                    } else {
                        x.borderColor = "#80b6f4";
                        x.pointBorderColor = "#80b6f4";
                        x.pointBackgroundColor = "#80b6f4";
                        x.pointHoverBackgroundColor = "#80b6f4";
                        x.pointHoverBorderColor = "#80b6f4";
                    }

                    myChart.update();
                }
            </script>
        </div>

        <div class="gradientSelect" style="margin-top: 10px; text-align: center">
            <label>
                Show Gradient: <input type="checkbox" id="myCheck" onclick="setGradient()">
            </label>
        </div>

        <div class="section_box" style="margin-top: 15px">
            <form id="feature_output_form">
                {% csrf_token %}

                <label>Input Feature</label>
                <select id="x_list" name="feature" onchange="setConfig()"></select>

                <label>Output</label>
                <select id="y_list" name="output" onchange="setConfig()"></select>

                <script>
                    let str = ''
                    let X = {{ xlabels | safe}}
                        X.forEach(function (x) {
                            str += '<option>' + x + '</option>';
                        });
                    document.getElementById("x_list").innerHTML = str;

                    str = ''
                    let Y = {{ ylabels | safe}}
                        Y.forEach(function (y) {
                            str += '<option>' + y + '</option>';
                        });
                    document.getElementById("y_list").innerHTML = str;
                </script>
            </form>
        </div>
    </div>
{% endblock %}