{% extends "base.html" %}

{% block title %}Graph{% endblock %}

{% block content %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
    <style>
        body {
            background-color: lightblue;
        }
        .graph {
            margin-top: 20px;
        }
    </style>
    <div class="graph">
        <canvas id="lineChart" width="1350" height="800"></canvas>
        <script>
          var ctx = document.getElementById("lineChart").getContext("2d");
          var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe}},
                datasets: [{
                    label: "Testing: {{ ylabel }}",
                    backgroundColor: 'rgb(45,45,45)',
                    borderColor: 'rgb(45,45,45)',
                    borderWidth: 3,
                    data: {{ values | safe}},
                }]
            },
            options: {
                responsive: false
            }
          });
        </script>
      </div>
      <div class="selectform">
        <form>
          <label>Input Feature</label>
          <select id="xlist"></select>
          <label>Output</label>
          <select id="ylist"></select>
          <button>Test feature</button>
  
          <script>
            var str = ''
            var X = {{ xlabels | safe}}
            X.forEach(function(x) {
              str += '<option>'+ x + '</option>';
            });
            document.getElementById("xlist").innerHTML = str;
  
            str = ''
            var Y = {{ ylabels | safe}}
            Y.forEach(function(y) {
              str += '<option>'+ y + '</option>';
            });
            document.getElementById("ylist").innerHTML = str;
          </script>
        </form>
      </div>
{% endblock %}