{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'nn.gif' %}");
    }
    h1 {
        margin: 4px;
        color: white;
        font-size: 70px;
        text-decoration: underline;
    }
		p {
			margin-top: 4px;
			margin-left: 8px;
			color: white;
			font-size: 20px;
		}
</style>
<div>
    <h1>Dynamic DOE</h1>
		<p>A dynamic design of experiment (DOE)<br> that statistically analyzes a set
		of
		experiment data,<br> using neural networks (NN), in order to find how the<br>
		input
		features effects the outputs of the experimentation.<br> Specifically,
		finding
		which input features can optimize the<br> output in order to reduce the
		overall need of <br>extensive experimentation.</p>
</div>
{% endblock %}
